<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>

<body>
   
    <ul>
        <% for(let product of products) { %>
        <li><a href="/<%=product._id%>"><%= product.title %></a> </li>
        <% }%>
    </ul>
    <a href="/new">New Product</a>
    
    <a href="/">All Products</a>
   

</body>

</html>